.navbar-brand-image {
    filter: none !important;
}

.logo-large-login {
    width: 95px;
    height: auto;
}

.btn-refresh.on-cooldown {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
}

#loadingSpinnerForm {
    padding: 2rem 0;
}
